server:
  port: 8084

spring:
  application:
    name: microservice-ecommerce
  datasource:
    url: ${DB_URL:jdbc:sqlserver://databasesqlprueba1.database.windows.net:1433;database=base1;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;}
    username: ${DB_USERNAME:adminsql}
    password: ${DB_PASSWORD:Enano0301}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
