server:
  port: 8082

spring:
  datasource:
    url: "jdbc:sqlserver://rolapet.database.windows.net:1433;database=base2;user=Adminsql@rolapet;password={your_password_here};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"
    username: Adminsql
    password: Enano0301
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true